@page "/profitsViwer"
@inherits BaseComponent

@if(this._isLoading)
{
    <p>Cargando...</p>
}
else
{
    <h1>Visor de ganancias</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                <div class="row">
                    <div class="col-4">
                        <h4>Ganancias</h4>
                    </div>
                    <div class="col-4">
                        <RadzenDatePicker Change="@( async () => await this.LoadProfitsPerPeriods() )" DateFormat="dd/MMM/yyyy" @bind-Value=this._period.PeriodStart></RadzenDatePicker>
                    </div>
                    <div class="col-4">
                        <RadzenDatePicker Change="@( async () => await this.LoadProfitsPerPeriods() )" DateFormat="dd/MMM/yyyy" @bind-Value=this._period.PeriodEnd></RadzenDatePicker>
                    </div>
                    <div class="col-4">
                        <RadzenDropDown @bind-Value=this._periodDivision Data=this._timeLapsesList Change="@( async () => await this.LoadProfitsPerPeriods() )" />
                    </div>
                </div>
                <RadzenChart>
                    <RadzenColumnSeries Data="@this._profitPerSubPeriods" CategoryProperty="ShortenedPeriodDate" Title="Ganancias netas" LineType="LineType.Dashed" ValueProperty="NetIncome">
                        <RadzenSeriesDataLabels Visible="@this._showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnOptions Radius="5" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Ganancias en MXN" />
                    </RadzenValueAxis>
                </RadzenChart>
                <div class="row">
                    <div class="col-4">
                        <p>Ganancias antes de impuestos: @this._totalIncomeBeforeTax</p>
                    </div>
                    <div class="col-4">
                        <p>Ganancias netas: @this._totalNetIncome</p>
                    </div>
                </div>
                <RadzenCard class="w-100 mb-4">
                    <RadzenCheckBox @bind-Value="@this._showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Mostrar etiquetas de datos" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
            </div>
        </div>
    </div>
}

@code {
    [Inject]
    public IProfitPerPeriodsService ProfitPerPeriodService { get; set; } = null!;
    private List<ProfitOfPeriod> _profitPerSubPeriods = new List<ProfitOfPeriod>();
    private ProfitOfPeriodRequest _period = null!; // Initialized in 'InitializePeriods()'  before it is ever used
    private List<string> _timeLapsesList = new List<string>();
    private double _totalIncomeBeforeTax = 0;
    private double _totalNetIncome = 0;
    private bool _showDataLabels = true;
    private bool _isLoading = true;

    private string _periodDivision
    {
        get
        {
            return ProfitOfPeriodRequest.GetTimeLapseTranslation(this._period.PeriodDivision);
        }
        set
        {
            this._period.PeriodDivision = ProfitOfPeriodRequest.GetTimeLapseFromTranslatedString(value);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        this._timeLapsesList = ProfitOfPeriodRequest.GetEveryTimeLapseTranslation();
        this.InitializePeriods();
        await this.LoadProfitsPerPeriods();
    }

    private async Task LoadProfitsPerPeriods()
    {
        try
        {
            this._isLoading = true;
            this._profitPerSubPeriods.Clear();
            this._totalIncomeBeforeTax = 0;
            this._totalNetIncome = 0;

            this._profitPerSubPeriods = await this.ProfitPerPeriodService.Read(this._period);
            this.CalculateTotalBeforeTaxAndNetIncome();
            this._isLoading = false;
        }
        catch (Exception)
        {
            this.NotificationService.ShowErrorNotification("Ocurrio un error al cargar las ganancias del periodo");
            throw;
        }
    }

    private void InitializePeriods()
    {
        var currentDate = DateTime.Today;
        var defaultPeriod = new ProfitOfPeriodRequest
        {
            PeriodStart = currentDate.AddDays(-14),
            PeriodEnd = currentDate.AddHours(23).AddMinutes(59).AddSeconds(59)
        };
        this._period = defaultPeriod;
    }

    private void CalculateTotalBeforeTaxAndNetIncome()
    {
        foreach (var profitOfPeriod in this._profitPerSubPeriods)
        {
            this._totalIncomeBeforeTax += profitOfPeriod.IncomeBeforeTaxes;
            this._totalNetIncome += profitOfPeriod.NetIncome;
        }
    }
}
